<%- include("partials/header.ejs") %>

<html>
<div class="text-center">
    <a href="/"><img src="/images/generic-player.png" alt="NBA logo" id="logoNBA" /></a>
    <h1 class="display-2">Welcome <%= userData.email %></h1>
    <a href="signout" class="btn btn-primary">Sign Out</a>
</div>
<br />
<div class="container">
    <% userData.favorites.forEach(function(data) { %>
    <li><%= data %></li>
    <% }); %>
</div>

<%- include("partials/footer.ejs") %>

</html>