<%- include("partials/header.ejs") %>

<html>
<div class="text-center">
    <a href="/"><img src="/images/generic-player.png" alt="NBA logo" id="logoNBA" /></a>
    <h1 class="display-2">Welcome <%= userData.name %></h1>
    <a href="signout" class="btn btn-primary">Sign Out</a>
</div>
<br />
<div class="container">
    <div class="container-fluid">
        <div class="row justify-content-evenly">
            <div class="col-lg-3 col-md-3 col-sm-12 card shadow" id="playerCard">
                <img class="card-img-top rounded-circle" id="playerImage" src="https://a.espncdn.com/i/headshots/nba/players/full/2983.png" />
                <div class="card-body">
                    <h5 class="card-title">LaMarcus Aldridge</h5>
                    <h6 class="card-text">C | 21</h6>
                    <div class="d-flex justify-content-center icon-bar">
                        <a class="btn btn-lg btn-social btn-twitter text-decoration-none hvr-grow" href="https://twitter.com/aldridge_12" target="_blank"><i
                                class="fa fa-twitter"></i></a>
                        <a class="btn btn-lg btn-social text-decoration-none btn-instagram hvr-grow" href="https://www.instagram.com/aldridge_121"
                            target="_blank"><i class="fa fa-instagram"></i></a>
                        <a class="btn btn-lg btn-social btn-facebook text-decoration-none hvr-grow" href="https://www.facebook.com/LaMarcusAldridge"
                            target="_blank"><i class="fa fa-facebook"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 card shadow" id="playerCard">
                <img class="card-img-top rounded-circle" id="playerImage" src="https://a.espncdn.com/i/headshots/nba/players/full/2983.png" />
                <div class="card-body">
                    <h5 class="card-title">LaMarcus Aldridge</h5>
                    <h6 class="card-text">C | 21</h6>
                    <div class="d-flex justify-content-center icon-bar">
                        <a class="btn btn-lg btn-social btn-twitter text-decoration-none hvr-grow" href="https://twitter.com/aldridge_12" target="_blank"><i
                                class="fa fa-twitter"></i></a>
                        <a class="btn btn-lg btn-social text-decoration-none btn-instagram hvr-grow" href="https://www.instagram.com/aldridge_121"
                            target="_blank"><i class="fa fa-instagram"></i></a>
                        <a class="btn btn-lg btn-social btn-facebook text-decoration-none hvr-grow" href="https://www.facebook.com/LaMarcusAldridge"
                            target="_blank"><i class="fa fa-facebook"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 card shadow" id="playerCard">
                <img class="card-img-top rounded-circle" id="playerImage" src="https://a.espncdn.com/i/headshots/nba/players/full/2983.png" />
                <div class="card-body">
                    <h5 class="card-title">LaMarcus Aldridge</h5>
                    <h6 class="card-text">C | 21</h6>
                    <div class="d-flex justify-content-center icon-bar">
                        <a class="btn btn-lg btn-social btn-twitter text-decoration-none hvr-grow" href="https://twitter.com/aldridge_12" target="_blank"><i
                                class="fa fa-twitter"></i></a>
                        <a class="btn btn-lg btn-social text-decoration-none btn-instagram hvr-grow" href="https://www.instagram.com/aldridge_121"
                            target="_blank"><i class="fa fa-instagram"></i></a>
                        <a class="btn btn-lg btn-social btn-facebook text-decoration-none hvr-grow" href="https://www.facebook.com/LaMarcusAldridge"
                            target="_blank"><i class="fa fa-facebook"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 card shadow" id="playerCard">
                <img class="card-img-top rounded-circle" id="playerImage" src="https://a.espncdn.com/i/headshots/nba/players/full/2983.png" />
                <div class="card-body">
                    <h5 class="card-title">LaMarcus Aldridge</h5>
                    <h6 class="card-text">C | 21</h6>
                    <div class="d-flex justify-content-center icon-bar">
                        <a class="btn btn-lg btn-social btn-twitter text-decoration-none hvr-grow" href="https://twitter.com/aldridge_12" target="_blank"><i
                                class="fa fa-twitter"></i></a>
                        <a class="btn btn-lg btn-social text-decoration-none btn-instagram hvr-grow" href="https://www.instagram.com/aldridge_121"
                            target="_blank"><i class="fa fa-instagram"></i></a>
                        <a class="btn btn-lg btn-social btn-facebook text-decoration-none hvr-grow" href="https://www.facebook.com/LaMarcusAldridge"
                            target="_blank"><i class="fa fa-facebook"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 card shadow" id="playerCard">
                <img class="card-img-top rounded-circle" id="playerImage" src="https://a.espncdn.com/i/headshots/nba/players/full/2983.png" />
                <div class="card-body">
                    <h5 class="card-title">LaMarcus Aldridge</h5>
                    <h6 class="card-text">C | 21</h6>
                    <div class="d-flex justify-content-center icon-bar">
                        <a class="btn btn-lg btn-social btn-twitter text-decoration-none hvr-grow" href="https://twitter.com/aldridge_12" target="_blank"><i
                                class="fa fa-twitter"></i></a>
                        <a class="btn btn-lg btn-social text-decoration-none btn-instagram hvr-grow" href="https://www.instagram.com/aldridge_121"
                            target="_blank"><i class="fa fa-instagram"></i></a>
                        <a class="btn btn-lg btn-social btn-facebook text-decoration-none hvr-grow" href="https://www.facebook.com/LaMarcusAldridge"
                            target="_blank"><i class="fa fa-facebook"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer.ejs") %>

</html>