<%- include("partials/header.ejs") %>
<br />
<section class="h-100">
    <div class="container h-100">
        <div class="row justify-content-sm-center h-100">
            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                <div class="card shadow-lg">
                    <div class="card-body p-5">
                        <h1 class="fs-4 card-title fw-bold mb-4">Register</h1>
                        <form id="signup">
                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="name"
                                    >Name</label
                                >
                                <input
                                    id="name"
                                    type="text"
                                    class="form-control"
                                    name="name"
                                    value=""
                                    required
                                    autofocus
                                />
                                <div class="invalid-feedback">
                                    Name is required
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="email"
                                    >E-Mail Address</label
                                >
                                <input
                                    id="email"
                                    type="email"
                                    class="form-control"
                                    name="email"
                                    value=""
                                    required
                                />
                                <div class="invalid-feedback">
                                    Email is invalid
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="password"
                                    >Password</label
                                >
                                <input
                                    id="password"
                                    type="password"
                                    class="form-control"
                                    name="password"
                                    required
                                />
                                <div class="invalid-feedback">
                                    Password is required
                                </div>
                            </div>

                            <p class="form-text text-muted mb-3">
                                By registering you agree with our terms and
                                condition.
                            </p>

                            <div class="align-items-center d-flex">
                                <button class="btn btn-primary ms-auto">
                                    Register
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer py-3 border-0">
                        <div class="text-center">
                            Already have an account?
                            <a href="login" class="text-dark">Login</a>
                        </div>
                    </div>
                </div>
                <br />
                <br />
            </div>
        </div>
    </div>
</section>
<script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-firestore.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
    const firebaseConfig = {
        apiKey: 'AIzaSyDhYbSc9y3bw0j7EmLtL2k4huvoK99Uhxs',
        authDomain: 'sportsocialmediaprofile.firebaseapp.com',
        databaseURL:
            'https://sportsocialmediaprofile-default-rtdb.firebaseio.com',
        projectId: 'sportsocialmediaprofile',
        storageBucket: 'sportsocialmediaprofile.appspot.com',
        messagingSenderId: '701173843774',
        appId: '1:701173843774:web:41588c9dcc218e8cc6ce6f',
    };

    firebase.initializeApp(firebaseConfig);

    firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

    //Establish firestore connection
    const db = firebase.firestore();

    document.getElementById('signup').addEventListener('submit', (event) => {
        event.preventDefault();
        const login = event.target.email.value;
        const password = event.target.password.value;
        const name = event.target.name.value;

        firebase
            .auth()
            .createUserWithEmailAndPassword(login, password)
            .then(({ user }) => {
                return db
                    .collection('users')
                    .doc(user.uid)
                    .set({ favorites: [], email: login, displayName: name })
                    .then(() => {
                        user.updateProfile({
                            displayName: name,
                        });
                    });

                return user.getIdToken().then((idToken) => {
                    return fetch('/sessionLogin', {
                        method: 'POST',
                        headers: {
                            Accept: 'application/json',
                            'Content-Type': 'application/json',
                            'CSRF-Token': Cookies.get('XSRF-TOKEN'),
                        },
                        body: JSON.stringify({ idToken }),
                    });
                });
            })
            .then(() => {
                return firebase.auth().signOut();
            })
            .then(() => {
                window.location.assign('/profile?type=success');
            })
            .catch((error) => {
                let type = '';
                let title = '';
                let text = '';
                switch (error.code) {
                    case 'auth/email-already-in-use':
                        title = 'User Already Exists!';
                        text = '';
                        type = 'error';
                        break;
                    case 'auth/weak-password':
                        title = 'Weak Password';
                        text = 'Please try again';
                        type = 'error';
                        break;
                    default:
                        title = 'An Error Occured';
                        text = 'Try Again Later!';
                        type = 'error';
                }
                swal(title, text, type);
                return false;
            });
        return false;
    });
</script>

<%- include("partials/footer.ejs") %>
