#logoNBA {
    max-width: 20%;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

#teamLogo {
    margin-bottom: 5rem;
    height: 200px;
    width: 200px;
}

.teamPage-container {
    padding-left: 7em;
    padding-right: 7em;
}

.teamCard {
    width: 25rem;
    display: inline-block;
    margin: auto;
    margin-bottom: 1.5rem;
}

#teamtext {
    font-weight: 500;
    padding-left: 3em;
    font-size: 18px;
}

.mr-3 {
    width: 20%;
    margin-left: 20px;
}

#playerCard {
    width: 20rem;
    display: inline-block;
    text-align: center;
    margin: auto;
    margin-bottom: 8rem;
    color: var(--teamColor);
    /* test */
    position: relative;
}

.image-cropper {
    width: 125px;
    height: 125px;
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    background-color: white;
    top: -15%;
    left: 30%;
}

.image-cropper-subContainer {
    height: 100px;
    width: 100px;
    position: absolute;
    overflow: hidden;
    /* border-radius: 50%; */
    background-color: white;
    left: 10%;
    top: 10%;
}

/* test */
#playerImage {
    width: 8rem;
    position: relative;
    right: 12%;
    /* position: absolute;
    top:-25%;
    left: 15%;
    border: 3px solid #fff;
    background: url(../images/white-img.png) */
}

#playerInfo {
    margin-top: 5rem;
}

.card-body h4 {
    font-size: 1.6rem;
}

.playerStats {
    margin-top: 1em;
}

.card-body h6 {
    font-size: 0.8em;
}

.stat-title-text {
    color: blue;
}

.fa {
    font-size: 20px !important;
}

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}
/* end of grow */

/* Social Media Icon Styling */
.icon-bar {
    margin-top: 1.25rem;
    margin-bottom: 0.5rem;
}

.btn-social {
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-radius: 50%;
}

.btn-twitter {
    background: #1da1f2;
    color: white !important;
}

.btn-instagram {
    /* background: #833AB4; */
    background: linear-gradient(
        45deg,
        #405de6,
        #5851db,
        #833ab4,
        #c13584,
        #e1306c,
        #fd1d1d
    );
    color: white !important;
}

.btn-facebook {
    background: #1877f2;
    color: white !important;
}

.fa-facebook {
    padding-left: 3px;
    padding-right: 3px;
}

/* end of social media icons styling */

/*CSS for the filter functions*/

#filterc {
    padding-right: 10px;
    text-align: center;
}
.filters {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* end of Filter CSS*/

@media only screen and (min-width: 992px) {
    .navbar .navbar-nav .nav-item .nav-link {
        padding: 0.5em 3em;
    }
    .navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
        border-right: 2px solid #575252;
    }
}
.navbar-collapse.in {
    display: block !important;
}
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
    background: #212529;
}
@media (max-width: 991.98px) {
    .sidebar {
        width: 100%;
    }
}
.sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
