#logoNBA {
    max-width:20%;
    padding-top:1.5em;
    padding-bottom:1.5em;
}

#teamCard {
    width: 25rem;
    display:inline-block;
    margin-right:25px;
}

#teamtext {
    font-weight:500;
    padding-left:3em;
    font-size:18px;
}

.mr-3 {
    width:20%;
    margin-left:20px;
}

#playerCard {
    width: 25rem;
    display:inline-block;
    margin-right:25px;
    text-align: center;
}

#playerImage {
    width: 15rem;
}

.fa {
    font-size: 20px !important;
}